* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: bold;
}

.global {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 1500px;
  margin: 0 auto;
}

.title {
  display: flex;
  justify-content: center;
}

.pics {
  width: 200px;
  height: 250px;
  object-fit: cover;
}

.game {
  width: calc(100% / 5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  position: relative;
}

.ok {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
}

.container {
  height: 500px;
  width: 500px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titlesignup {
  width: 400px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.ok > input {
  border: black solid 1px;
  height: 35px;
  margin-bottom: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 20px;
}
.partright {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.choice {
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 20px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.navuserfirstpage {
  display: flex;
  width: 20%;
  justify-content: space-around;
}

.navusersecondpage {
  display: flex;
  width: 30%;
  justify-content: space-around;
}

.select {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}

.containerform {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  height: 400px;
  align-items: center;
  margin-top: 300px;
}

.widthinput {
  width: 800px;
  margin-bottom: 10px;
}

.previous {
  color: red;
  border: none;
  background-color: transparent;
}

.next {
  color: red;
  border: none;
  background-color: transparent;
}

.favori {
  position: absolute;
  margin-bottom: 190px;
  margin-left: 145px;
  border: none;
  color: white;
  border-radius: 50%;
  background-color: black;
  width: 30px;
  height: 30px;
}

:hover.favori {
  color: red;
  cursor: pointer;
}

.landingpage {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.gamedetail {
  display: flex;
  width: 80%;
  margin: 0 auto;
  height: 320px;
}

.gamedetailpic {
  width: 500px;
  height: 300px;
  object-fit: cover;
}
.textdetail {
  flex: 1;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.plateformes {
  margin-bottom: 10px;
  width: 40%;
}

.genre {
  margin-top: 10px;
  margin-bottom: 20px;
}

.buttonreview {
  width: 285px;
  text-align: left;
}

.gameserie {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}

.sectionrelatedgames {
  margin-bottom: 20px;
  font-size: x-large;
}

.globalrelatedgames {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
}

.relatedgame {
  display: flex;
  flex-direction: column;
  width: 250px;
  position: relative;
  margin-right: 20px;
  margin-bottom: 20px;
}

.relatedtitle {
  width: 100%;
  z-index: 1;
  position: absolute;
  color: white;
  background-color: black;
}

.relatedgamepic {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.globalreviews {
  width: 80%;
  margin: 0 auto;
}

.sectionreviews {
  font-size: x-large;
}

.globalreview {
  margin-top: 10px;
  margin-bottom: 50px;
}

.review {
  margin-bottom: 10px;
}
