* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: bold;
}

.pics {
  width: 200px;
  height: 250px;
  object-fit: cover;
}

.game {
  width: calc(100% / 5);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.global {
  display: flex;
  flex-wrap: wrap;
  height: 1000px;
  justify-content: space-around;
  /* background-color: yellow; */
  width: 1500px;
  margin: 0 auto;
}

.ok {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
}

.container {
  height: 500px;
  width: 500px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titlesignup {
  width: 400px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.ok > input {
  border: black solid 1px;
  height: 35px;
  margin-bottom: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
}
.partright {
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.gamedetailpic {
  width: 500px;
  height: 250px;
  object-fit: cover;
}

.containerform {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  height: 400px;
  align-items: center;
  margin-top: 300px;
}

.widthinput {
  width: 800px;
  margin-bottom: 10px;
}
